 body {
            font-family: Arial, sans-serif;
            background-image: url('hacker.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: white;
            border: 3px solid #0077cc;
            margin: 20px;
            padding: 20px;
            text-align: center;
            background-image: url('rungta1.png');
            background-repeat: no-repeat;
            
            
        }
        .content-box {
            background-color: rgba(163, 189, 255, 0.9);
            width: 80%;
            margin: 20px auto;
            border: 2px solid #666;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0px 0px 10px rgb(0,0,0,);
        }
        footer {
            background-color: rgb(0, 0, 0,);
            color: white;
            text-align: center;
            padding: 15px;
        }